@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Roboto", serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .div-btn-deslogar {
    position: fixed;
    background: red;
    color: whitesmoke;
    padding: 8px;
    top: 0;
    margin: 8px;
    border-radius: 10px;
    display: flex;
  }
  .btn-deslogar {
    cursor: pointer !important;
  }
  .div-img-logo {
    position: absolute;
    top: 5px;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    display: flex;
  }
  .img-logo {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    box-shadow: 4px 4px 10px solid black;
    margin: 10px;
    user-select: none;
    pointer-events: none;
    position: relative;
  
  }
  .div-badge {
    text-align: center;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .span-badge {
    position: relative;
    color: white;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    top: 30px;
  }
  .aberto {
    background: rgb(59, 195, 59);
  }
  .fechado {
    background: rgba(255, 33, 33, 0.802);
  }
  .container {
    max-width: 1200px;
    margin: 140px auto 50px;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  h1, h2 {
    text-align: center;
  }
  .form-group {
    display: flex;  
    gap: 10px;
    margin-bottom: 19px;
    outline: none !important;
    margin: 15px 0 0 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    place-items: center;
    align-items: center;
    position: relative;
  }
  .form-group button{
    width: 20%;
    min-width: 100px;
  }
  input, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  input:focus {
    border: 1px solid #ccc;
    outline: none;
  }
  button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  button:hover {
    background-color: #0056b3;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  th {
    background-color: #f8f8f8;
    
  }
  .border-top {
    background: #ccc;
    height: 1px;
  }
  .btn-exportar-planilha {
    position: absolute;
    right: -15px;
    bottom: -10px;
    border-radius: 100%; 
    color: whitesmoke; 
    text-align: center; 
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .btn-exportar-planilha span{
    font-size: 22px;
    padding: 0px;
  }
  .titulo{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
  }

  .tabela{  
    overflow-x: auto;
    width: 100%;
  }
